.first-div{
    margin-top: 20px;
    border: 10px solid black;
    padding-bottom: 20px;
}

.second-div{
    margin-top: 20px;
    padding-top: 20px;
    border: 10px solid black;
}

input{
    margin-top: 20px;
}
td

tbody tr:nth-child(odd) {
    background-color: #886680;
}

tbody tr:nth-child(even) {
background-color: #ff9dff;
}

tbody td {
padding: 10px;
margin: 10px

}

table {
padding: 10px;
background-color: #ffffff;
}
